.container {
    padding: 1em;
    min-width: 350px;
}

.bg {
    background-color: lightblue;
    background-size: cover;
}

.formfield {
    padding-right: 1em !important;
    margin-right: 1em !important;
}

.formlabel{
    min-width: 100px;
}
table td {
    text-align: left;
    vertical-align: center !important;
}

#wrapper {
    background-color: white;
    margin-top: 0px;
    padding-top: 0px;

}

.jumbotron {
    margin-bottom: 0px;
    /*background-image: url(images/sky.png);*/
    background-color: navy;
}

#jumbohead, #jumbosub {
    text-align: center;
}

#jumbohead {
    text-transform: uppercase;
}

.tablecell {
    width: 300px;
}

.error {
    color: red;
    font-weight: bolder;
}

.form {
    background-color: #90CAF9;
    border: 1px solid black;
}

.tableheading {
    background-color: #FADEFF;
}

#croptable-fall{
    border-radius: 1em;
    background-color: #70F4E0 !important;
    border: 1px solid black;
}

[class*="col-"] {
    width: 100%;
}

#results-searches {
    min-width: 140px;
}

@media only screen and (max-width: 600px) {

    .my-cards, #results-searches, .my-card {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}


@media only screen and (min-width: 600px) {
    .my-cards {
        width: 75%;
        float: left;
    }

    #results-searches {
        width: 25%;
        float: right;
    }
}

@media only screen and (min-width: 1200px) {
    .my-cards {
        width: 80%;
        float: left;
    }

    #results-searches {
        width: 20%;
        float: right;
    }
}